/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

/* custom properties */
:root {
    --off-white: #f2f2f2;
    --black: rgba(0,0,16,.8);
    --blue: #0365c0;
    --green: #00cc4f;
    --orange: #ffb144;
    --disabled: rgba(0,0,16,.3);
    --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}

/* resets */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    background-image: linear-gradient(to top left, rgb(5, 18, 41) , rgb(125, 126, 134));
    font-family: "Lato", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

header {
    text-align: right;
    padding: 1rem 2rem;
    background: var(--black);
    color: var(--off-white);
    font-size: 2rem;
    font-weight: bold;
}

/* main container */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 2rem;
}

/* filters */
.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem; 
}

.filter-card {
  padding: .8rem;
}

.filter-container {
  padding: .4rem .8rem;
}

.filter-text p {
  color: var(--black);
  font-size: 1.3rem;
  padding: .3rem;
}

.filter {
  background-color: var(--black);
  padding: .4rem .4rem .1rem .4rem;
  border: 3px solid var(--blue);
  border-radius: 2.2rem;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-all + span {
  font-size: 2rem;
  padding: .5rem 1rem;
  color: var(--off-white);
}

svg {
  fill: var(--off-white);
  height: 2rem;
  width: 2rem;
  margin: .5rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input + span,
input + svg {
  cursor: pointer;
  transition: all .3s ease;
}

.filter-all:hover,
.filter-all:checked + span,
.filter-all:focus + span {
    color: var(--blue);
}

.beer:hover,
.beer:checked + svg,
.beer:focus + svg {
    fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
    fill: var(--green);
}

/* pagination buttons */

.page-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  padding: 0 .8rem;
  color: var(--off-white);
  cursor: pointer;
  transition: color .3s ease;
}

.page-btn:hover {
  color: var(--blue);
}

.page-btn:disabled {
  cursor: default;
  color: var(--disabled);
}

/* beer styles */
.beers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.beer-wrapper {
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.beers .beer {
  display: grid;
  grid-auto-columns: 1fr;
  align-items: end;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.beer .beer__img {
  margin: auto;
  height: 20rem;
}
.beer .beer__info {
  display: flex;
  justify-content: space-between;
}

.beer__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: calc(100% - (1.5rem * 2));
  height: calc(100% - (1.5rem * 2));
  background: white;
  overflow: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity .8s ease;
}
.beer__content:hover {
  opacity: 0.92;
}
.beer__name {
  margin: 0 auto .5rem auto;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  line-height: 1.07em;
  letter-spacing: -0.015em;
}
.beer__tagline {
  padding-bottom: .5rem;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  border-bottom: 2px solid var(--blue);
}
.beer__description {
  margin: 1rem 0;
  font-size: .9rem;
  line-height: 1.3rem;
}
.beer__food-pairing {
  font-style: italic;
  font-size: .9rem;
  line-height: 1.3em;
}

.home {
  display: flex;
  align-content: center;
  position: absolute;
  width: 5.5rem;
  height: .8rem;
  border-radius: 5px;
  resize: none;
  background-color: #FF713B;
  background-image: linear-gradient(to left, #FF713B 0%, #FFA51D 100%);
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.65rem;
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms, color 1000ms;
  padding: 0.5em 1.25em;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.home:hover,
.home:focus {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 1);
  color: black;
  font-weight: 900;
  transform: scale(1.1);
}