:root {
  /* THEME 3 BACKGROUNDS */
  --theme3-main-background: hsl(268, 75%, 9%);
  --theme3-toggle-screen-keypad-background: hsl(268, 71%, 12%);

  /* THEME 3 KEYS */
  --theme3-darkviolet-key-background: hsl(281, 89%, 26%);
  --theme3-vividmagenta-key-shadow: hsl(285, 91%, 52%);

  --theme3-purecyan-key-toggle-background: hsl(176, 100%, 44%);
  --theme3-softcyan-key-shadow: hsl(177, 92%, 70%);

  --theme3-verydarkviolet-key-background: hsl(268, 47%, 21%);
  --theme3-darkmagenta-key-shadow: hsl(290, 70%, 36%);

  /* THEME 3 TEXT */
  --theme3-text-lightyellow: hsl(52, 100%, 62%);
  --theme3-text-verydarkblue: hsl(198, 20%, 13%);
  --theme3-text-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(0, 5%, 81%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.portfolio-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-areas:
    "name"
    "contact"
    "calc";
  grid-gap: 0px;
}

.name {
  grid-area: name;
  background-color: black;
}

.name h1 {
  margin: 0;
}

.name a {
  margin-top: 10px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  font-weight: 700;
}

.name a:hover {
  -webkit-text-stroke: 1px darkorange;
  text-shadow: 0 0 32px darkorange;
}

.name p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: darkorange;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  font-weight: 300;
}

.contact {
  grid-area: contact;
  background-color: black;
}

.contact-container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.icon {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  transition: transform 500ms ease;
}

.icon:hover {
  transform: scale(1.05);
}

.icon:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 2px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.icon:active {
  color: #000;
}

.icon:active:after {
  background: transparent;
}

.icon:hover:before {
  opacity: 1;
}

.icon:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

* {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.calculator-container {
  grid-area: calc;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.calculator-grid {
  /* CENTER CALCULATOR */

  display: grid;
  padding: 25px;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--theme3-main-background);
  width: 375px;
  height: 650px;
  border-radius: 10px;
}

.calc-top {
  margin: 0;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.top-one-container {
  padding-bottom: 20px;
  display: flex;
  margin: 0;
  width: 50%;
  height: auto;
}

.top-one-calc {
  color: var(--theme3-text-lightyellow);
  align-self: flex-end;
  font-size: 2.5em;
}

.top-two-container {
  padding-bottom: 25px;
  display: flex;
  padding-left: 22px;
  margin: 0;
  width: 25%;
  height: auto;
}

.top-two-theme {
  color: var(--theme3-text-lightyellow);
  align-self: flex-end;
  font-size: 1em;
  width: 25%;
  text-transform: uppercase;
}

.top-three-container {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  width: 25%;
  height: auto;
}

.top-three-numbers {
  padding-bottom: 3px;
  color: var(--theme3-text-lightyellow);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-three-radios {
  margin-top: 0;
  padding-bottom: 2px;
  background-color: var(--theme3-toggle-screen-keypad-background);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  border-radius: 20px;
}

input[type="radio"] {
  height: 15px;
  width: 15px;
  outline: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background: var(--theme3-purecyan-key-toggle-background);
}

.display {
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--theme3-toggle-screen-keypad-background);
}

.display-outcome {
  font-size: 50px;
  padding-right: 25px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--theme3-text-lightyellow);
}

.numpad {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 25px;
  grid-gap: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: var(--theme3-toggle-keypad-background);
}

.number {
  border: 0px;
  color: var(--theme3-text-lightyellow);
  border-radius: 7px;
  padding-top: 6px;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-size: 32px;
  background-color: var(--theme3-verydarkviolet-key-background);
  box-shadow: 0px 3.5px 0px var(--theme3-darkmagenta-key-shadow);
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals {
  color: var(--theme3-text-verydarkblue);
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: var(--theme3-purecyan-key-toggle-background);
  box-shadow: 0px 3.5px 0px var(--theme3-softcyan-key-shadow);
}

.delete,
.reset {
  font-size: 1.4em;
  color: var(--theme3-text-white);
  background-color: var(--theme3-darkviolet-key-background);
  box-shadow: 0px 3.5px 0px var(--theme3-vividmagenta-key-shadow);
}

@media screen and (min-width: 992px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr auto;
    grid-template-areas:
      "name name name contact"
      "calc calc calc calc";
  }

  .contact-container {
    justify-content: flex-end;
  }

  .name {
    display: flex;
  }

  .name a {
    margin-top: 20px;
    justify-content: left;
    margin-left: 20px;
    align-self: center;
  }

  .name p {
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: left;
    margin-left: 20px;
    margin-top: 67px;
  }

  .icon {
    margin-top: 10px;
    margin-left: 25px;
  }

  .calculator-container {
    grid-area: calc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: none;
  }

  .calculator-grid {
    overflow: auto;
  }
}
