body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  background-color: rgb(88, 86, 86, 30%);
}

.portfolio-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr;
  grid-template-areas:
    "name"
    "contact"
    "main1"
    "main2";
  grid-gap: 0px;
}

.name {
  grid-area: name;
  background-color: black;
}

.name h1 {
  margin: 0;
}

.name a {
  cursor: pointer;
  color: white;
  margin-top: 10px;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  margin-bottom: 0px;
  font-weight: 700;
  text-decoration: none;
}

.name a:hover {
  -webkit-text-stroke: 1px darkorange;
  text-shadow: 0 0 32px darkorange;
}

.name p {
  text-transform: uppercase;
  color: darkorange;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  font-weight: 300;
}

.contact {
  grid-area: contact;
  background-color: black;
}

.contact-container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.icon {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  transition: transform 500ms ease;
}

.icon:hover {
  transform: scale(1.05);
}

.icon:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 2px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.icon:active {
  color: #000;
}

.icon:active:after {
  background: transparent;
}

.icon:hover:before {
  opacity: 1;
}

.icon:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main1 {
  padding: 20px;
  grid-area: main1;
  margin-top: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
}

.project-container {
  border: 0.3px solid black;
  display: flex;
  justify-self: center;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 300px;
  min-height: 300px;
  background-color: #d0d0ce;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-image: url("../../images/Screenshot\ 2022-08-11\ at\ 12-47-33\ Frontend\ Mentor\ Interactive\ rating\ component.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 500ms ease;
  border-radius: 5px;
  overflow: hidden;
}

.project-container:hover {
  background-color: rgba(252, 249, 249, 0.8);
  background-blend-mode: normal;
  transform: scale(1.03);
  cursor: pointer;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
  width: 300px;
}

.button {
  font-weight: 900;
  font-size: 1rem;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  background-color: darkorange;
  color: black;
  text-decoration: none;
  align-self: center;
}

.button:hover,
.button:focus {
  background-color: white;
}

.main2 {
  padding: 20px;
  grid-area: main2;
}

.maintext h1 {
  margin-top: 5px;
  color: black;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  font-weight: 900;
}

.maintext h3 {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

.maintext p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 25px;
}

/*TABLET or LARGE PHONE*/

@media screen and (min-width: 600px) {
}

/*BIG SCREENS, DESK- AND LAPTOPS*/

@media screen and (min-width: 992px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas:
      "name name name contact"
      "main1 main1 main2 main2"
      "main1 main1 main2 main2";
  }

  .project-container {
    margin: 0 0;
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .project-links {
    margin: 0 0;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    color: black;
    width: 300px;
    margin-right: 50px;
  }

  .button {
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 1rem;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    background-color: darkorange;
    color: black;
    text-decoration: none;
    align-self: center;
  }

  .button:hover,
  .button:focus {
    background-color: white;
  }

  .contact-container {
    justify-content: flex-end;
  }

  .name {
    display: flex;
  }

  .name a {
    margin-top: 20px;
    margin-bottom: 0px;
    justify-content: left;
    margin-left: 20px;
    align-self: center;
  }

  .name p {
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: left;
    margin-left: 20px;
    margin-top: 67px;
  }

  .icon {
    margin-top: 10px;
    margin-left: 25px;
  }

  .main1 h1 {
    justify-content: left;
  }

  .main1 p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .main1 h3 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main2 {
    margin-top: 50px;
    border-left: 0.1rem solid rgb(0, 0, 0, 100%);
    display: flex;
    justify-content: left;
  }

  .main2 h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-left: 50px;
    justify-content: left;
  }

  .main2 p {
    font-size: 0.9rem;
    font-weight: 300;
    justify-content: left;
    margin-left: 50px;
  }

  .main2 h3 {
    justify-content: left;
    margin-left: 50px;
  }
}
